@font-face {
    font-family: allright;
    src: url('../font/allright/allright.ttf');
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:whitesmoke;
}

button.navbar-toggler {
    border: none;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
}

nav h5 {
    font-style: italic;
    font-weight: bold;
}

#titulo {
    font-family: allright;
    font-size: 100px;
    text-align: center;
    margin-top: -10%;
    margin-left: 4%;
    margin-right: 4%;
}

#subtitulo {
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#habilidades h3 {
    padding-bottom: 25px;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#estrella {
    margin: 7px;
}

.margen-para-secciones {
    margin: 5%;
}

.oscuro {
    background-color: rgba(0, 0, 0);
    color: whitesmoke;
    padding: 35px;
    margin: 0;
    padding-left: 10%; 
    padding-right: 10%; 
    width: 100%;
}

.oscuro i {
    color: whitesmoke;
}

#sobremi img {
    width: 40vh;
    border-radius: 5px;
    margin: 2%;
}

#habilidades li {
    list-style: none;
    list-style-position: inside;
}

.icon-margin {
    margin: 20px;
}

.fa-bootstrap {
    margin-left: -2px;
}

#habilidades i, #habilidades p {
    font-size: 20px;
    padding: 10px;
}

a i {
    color: black;
    padding: 20px;
}

.card {
    margin: auto;
}

.card-title {
    padding-top: 15px;
    font-size: 22px;
}

.card-text {
    font-size: medium;
}

.card-body {
    background-color: transparent;
}

#contacto {
    margin-bottom: 0;
    padding-bottom: 30px;
    width: 100%;
}

.contact-icon {
    font-size: 2rem;
}

@media (max-width: 768px) {
    #inicio {
        height: 50vh;
    }
    #titulo {
        font-size: 75px;
    }
    #subtitulo {
        font-size: 16px;
    }
    #sobremi p {
        font-size: 15px;
    }
    .contact-icon {
        font-size: 1.6rem;
    }
}